
@model IEnumerable<MemberViewModel>
@{
    ViewData["Title"] = "Members";
}
@if (TempData["Success Message"] != null)
{
    <div  id = "Alert" class= "alert alert-success alert-dismissible fade show" >
                < i class= "bi bi-check-circle-fill me-2" ></ i >
        TempData["Success Message"]
                <button type="button" class= "btn-close" data-bs- dismiss = "alert" ></button >
    </div >
}




   
   

@if (TempData["ErrorMessage"] != null)
            {
    <div id="Alert" class="alert alert-danger alert-dismissible fade show">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
            }
                

            <div class="container">
                <header class="d-flex justify-content-end mt-5 mb-4 align-items-center">
        <a asp-controller="Member" asp-action="Create" class="btn btn-fill fw-medium rounded-pill px-3 py-3">
                        + Add Member
                    </a>
                </header>

                @if(Model is not null && Model.Any() )
                {
              <div class="table-responsive " style="overflow: visible;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th><span>@nameof(MemberViewModel.Photo)</span></th>
                                <th><span>@nameof(MemberViewModel.Name)</span></th>
                            <th><span>@nameof(MemberViewModel.Email)</span></th>
                            <th><span>@nameof(MemberViewModel.Gender)</span></th>
                            <th><span>@nameof(MemberViewModel.Phone)</span></th>
                                <th><span>Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var member in Model)
                        {
                            <tr>
                                <td>
                                    <span class="avatar">
                                        @if(string.IsNullOrEmpty(member.Photo))
                                        {
                                        <img src="~/images/Ellipse 7.jpg" alt="Default Avatar" class="rounded-circle"
                                                 style="width: 40px; height: 40px;" />
                                        }
                                        else
                                        {
                                            <img src="~/images/Members/@member.Photo" alt="Default Avatar" class="rounded-circle"
                                             style="width: 40px; height: 40px;" />
                                        }
                                        
                                    </span>
                                </td>
                                <td><span>@member.Name</span></td>
                                <td><span>@member.Email</span></td>
                                <td><span>@member.Gender</span></td>
                                <td><span>@member.Phone</span></td>
                                <td class="action position-relative">
                                    <div class="dropdown">
                                        <button class="btn btn-link p-0 border-0" type="button"
                                                id="dropdownMenuButton-@member.Id" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <img src="~/images/action dots.jpg" alt="action icon" />
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-start"
                                            aria-labelledby="dropdownMenuButton-@member.Id">
                                            <li>
                                            <a asp-controller="Member" asp-action="MemberDetalis" asp-route-id="@member.Id"
                                                   class="dropdown-item d-flex align-items-center gap-3">
                                                    <img src="~/images/info 1.jpg" alt="info icon"
                                                         style="width: 20px; height: 20px;" />
                                                    <span>View Member Data</span>
                                                </a>
                                            </li>
                                            <li>
                                            <a asp-controller="Member" asp-action="HealthRecordDetalis" asp-route-id="@member.Id"
                                                   class="dropdown-item d-flex align-items-center gap-3">
                                                    <img src="~/images/info 1.jpg" alt="info icon"
                                                         style="width: 20px; height: 20px;" />
                                                    <span>View Health Record Data</span>
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                            <a asp-controller="Member" asp-action="MemberEdit" asp-route-id="@member.Id"
                                                   class="dropdown-item d-flex align-items-center gap-3">
                                                    <img src="~/images/edit.jpg" alt="edit icon"
                                                         style="width: 20px; height: 20px;" />
                                                    <span>Edit Member Data</span>
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                            <a asp-controller="Member" asp-action="MemberDelete" asp-route-id="@member.Id"
                                                   class="dropdown-item d-flex align-items-center gap-3 text-danger">
                                                    <img src="~/images/x-circle 1.jpg" alt="delete icon"
                                                         style="width: 20px; height: 20px;" />
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
            </div>
                 }
             else
                {
                <div class="text-center py-5">
                    <i class="bi bi-person-workspace display-1 text-muted"></i>
                    <h4 class="mt-3 text-muted">No Members Available</h4>
                    <p class="text-muted">Add your first Member to get started</p>
                </div>
                 }


                
            </div>
    



@section Scripts{
    <partial name="_AlertBoxScript"/>

}

   





